<template>
    
    <!-- Start Carousel Section -->
    
    <client-only>
        <Slick v-if="items.length" :options="slickOptions" ref="slick">
            <div v-for="item in items" class="p-2 lg:px-5">
                <h3 class="text-3xl font-messinabook">{{ item.title }}</h3>
                <div class="carousel-content">
                    <p class="mt-10 mb-10 leading-default-sm lg:landing-default" v-html="item.content"></p>
                    <a v-if="item.link" :href="item.link.href" class="text-xl text-orange" :target="item.link.target">— {{ item.link.label }}</a>
                </div>
            </div>
        </Slick>
    </client-only>
    
    <!-- End Carousel Section -->

</template>

<script>
    // Using the `vue-slick` library for the carousel - https://www.npmjs.com/package/vue-slick
    //
    // I've been having some problems with SSR with this library and the only way I've found to come across this issue
    // is to surround the component with <client-only> tags (to remove a console error) and require() the library
    // if `process.client` is true.

    let Slick = null;
    if (process.client) {
        /* eslint-disable global-require */
        Slick = require('vue-slick').default;
        /* eslint-enable global-require */
    }

    export default {
        name: "carousel",
        props: [
            'items',
            'options'
        ],
        components: {
            Slick
        },
        data() {
            return {
                slickOptions: this.options
            }
        },
        methods: {
            reInit() {
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            }
        }
    }
</script>

<style>
    @media (max-width: 767px) {
        .slick-track {
            display: flex;
        }
        
        .slick-track .slick-slide {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
        }
        
        .slick-slide:not(.slick-current) {
            opacity: 0.5;
        }
    }
</style>