<template>
    
    <!-- Start Separator Section -->
    
    <div class="mx-auto border border-orange separator"></div>
    
    <!-- End Separator Section -->
    
</template>

<script>
    export default {
        name: "separator"
    }
</script>

<style scoped>
    .separator {
        max-width: 200px;
    }
    .separator.vertical {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>