<template>
    <div class="container-fluid">
        
        <!-- Start Tailored Funding Solutions Section -->
        <div class="relative lg:p-20">
            <picture>
                <source srcset="/images/tailored-solutions-mobile.png" media="(max-width: 767px)">
                <img src="/images/tailored-solutions-desktop.png" class="w-full" alt="Tailored Funding Solutions"/>
            </picture>
            <div class="relative w-100 lg:w-65% py-10 px-5 lg:p-20 lg:-mt-32 bg-white text-center lg:text-left slide-in-left">
                <h2 class="text-3xl lg:text-title-lg">Tailored Funding Solutions</h2>
                <p class="w-100 lg:w-70% mt-10 leading-default-sm lg:leading-default">We have a fully flexible capital base, which enables us to structure funding across the capital structure. We are able to provide funding from £1m to in excess of £25m.</p>
                <p class="mt-10 font-messinaregular text-2xl text-orange">— Funding Solutions</p>
            </div>
            <img src="/images/ellipse.png" class="absolute right-0 z-10 ellipse slide-in-right" alt="Ellipse"/>
        </div>
        <!-- End Tailored Funding Solutions Section -->
        
        <!-- Start Separator Component -->
        <separator class="relative z-10 w-10% vertical"></separator>
        <!-- End Separator Component -->
        
        <!-- Start What We Offer Section -->
        <div class="relative pt-20 lg:py-40 lg:px-20 bg-darkblue text-white">
            <h2 class="relative lg:top-50px text-title-md lg:text-title-lg text-center mb-3 lg:mb-0">What we offer</h2>
            <div class="bg-no-repeat bg-center bg-top bg-cover lg:bg-auto" style="background-image: url(/images/what-we-offer.png);">
                <div class="py-20 lg:py-40">
                    
                    <!-- Start Carousel Component -->
                    <carousel :items="carousel.items" :options="carousel.options" class="text-center xl:text-left"></carousel>
                    <!-- End Carousel Component -->
                
                </div>
            </div>
            <img src="/images/ask-logo.png" class="xl:absolute right-0 p-20 ml-auto ask-logo" alt="A.S.K"/>
        </div>
        <!-- End What We Offer Section -->
    
    </div>
</template>

<script>
    import separator from "~/components/separator";
    import carousel from "~/components/carousel";

    export default {
        components: {
            separator,
            carousel
        },
        head() {
            return {
                title: 'Dept Frontend Technical - by Dom McLaughlin',
                bodyAttrs: {
                    class: 'text-sm lg:text-xl text-default font-messinalight overflow-x-hidden fade-in'
                }
            }
        },
        data() {
            return {
                carousel: {
                    isReady: false,
                    items: [
                        {
                            title: 'Flexible capital base',
                            content: 'We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.',
                            link: {href: '#', target: '_blank', 'label': 'Find out more'}
                        },
                        {
                            title: 'We provide funding',
                            content: 'We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.',
                            link: {href: '#', target: '_blank', 'label': 'Find out more'}
                        },
                        {
                            title: 'Not sector specific',
                            content: 'We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.',
                            link: {href: '#', target: '_blank', 'label': 'Find out more'}
                        },
                        {
                            title: 'Value-add investment',
                            content: 'We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.',
                            link: {href: '#', target: '_blank', 'label': 'Find out more'}
                        }
                    ],
                    options: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        infinite: true,
                        arrows: false,
                        autoplay: true,
                        responsive: [
                            {
                                breakpoint: 768,
                                settings: {
                                    slidesToShow: 1,
                                    centerMode: true,
                                    centerModePadding: 0
                                }
                            },
                            {
                                breakpoint: 1440,
                                settings: {
                                    centerMode: false,
                                    slidesToShow: 3
                                }
                            },
                        ]
                    }
                }
            }
        }
    }
</script>

<style>
    .ellipse {
        top: 15rem;
        width: 50%;
    }
    
    .ask-logo {
        bottom: 2rem;
    }
    
    @media (min-width: 767px) {
        .ellipse {
            top: 0;
            width: 30%;
        }
    }
    @media (min-width: 1024px) {
        .ellipse {
            top: initial;
            bottom: -4rem;
        }
    }
</style>